<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEX</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    
</head>
<body>

    <!-- ============================================ -->
<!--                    Section 1                      -->
<!-- ============================================ -->

    <section id="hero-229">
        <div class="cs-container">
            <div class="cs-flex-group">
                <h1 class="cs-title">FLEX</h1>
                <p class="cs-text">
                    Generate a free, custom workout designed exclusively for your body and your goals using our research-based algorithms.
                </p>
                <a href="" class="cs-button-solid">Start now</a>
                
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../static/gym.jpg">
            <source media="(min-width: 601px)" srcset="../static/gym.jpg">
            <img loading="lazy" decoding="async" src="../static/gym.jpg" alt="mountains" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

        <!-- ============================================ -->
    <!--                   Section 2                      -->
    <!-- ============================================ -->

    <section id="steps-889">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">How It Works</h2>
                <p class="cs-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Contact Us</h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                    </p>
                </li>
                <!--Arrow-->
                <li class="cs-item cs-arrow" aria-hidden="true">
                    <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Initial Evaluation</h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                    </p>
                </li>
                <!--Arrow-->
                <li class="cs-item cs-arrow" aria-hidden="true">
                    <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Develop a Plan</h3>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo voluptate.
                    </p>
                </li>
            </ul>
            <a href="" class="cs-button-solid">View All Projects</a>
        </div>
    </section>
                                
    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-718">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fruuner1-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Frunner1.jpg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Frunner1.jpg" alt="runner" width="610" height="425" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get in Touch</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. 
                </p>
                <!--Form-->
                <form class="cs-form" id="cs-form-718" name="Contact Form" method="post">
                    <label class="cs-label">
                        Name
                        <input class="cs-input" required type="text" id="name-718" name="name" placeholder="Name">
                    </label>
                    <label class="cs-label cs-email">
                        Email
                        <input class="cs-input" required type="text" id="email-718" name="email" placeholder="Email">
                    </label>
                    <label class="cs-label cs-phone">
                        Phone
                        <input class="cs-input" required type="text" id="phone-718" name="phone" placeholder="Phone">
                    </label>
                    <label class="cs-label">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-718" placeholder="Write message..."></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">Make an Appointment</button>
                </form>
            </div>
        </div>
    </section>
    
        <!-- ============================================ -->
    <!--                   Footer                     -->
    <!-- ============================================ -->

    <footer id="cs-footer-107">
        <div class="cs-container">
            <ul class="cs-ul">
                <li class="cs-li cs-copyright">
                    © 2022 Copyright
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Gallery</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
                                    
    
        
</body>
</html>
