<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEX</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css">
    <link rel="stylesheet" type="text/css" href="../static/styles2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    
</head>
<body>
    
    <div class="bg"></div>

    <p class="clickable-image">
      <a href="run.html">
        <img src="../static/running-man.jpg">
      </a>
    </p>
    <p class="clickable-image">
        <a href="strength.html">
          <img src="../static/lifting-man.png">
        </a>
      </p>
    
</body>
</html>
