<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEX</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    
</head>
<body>

    <div class="bg"></div>

                                    
    
        
</body>
</html>
